:root {
  --purple: #F700FD;
  --primary-dark-4: #001b33;
  --primary-dark-3: #003f75;
  --primary-dark-2: #0065bd;
  --primary-dark-1: #0075db;
  --primary: #0088ff;
  --primary-light-1: #269aff;
  --primary-light-2: #4da9ff;
  --primary-light-3: #99ceff;
  --primary-light-4: #e6f3ff;
  --gray-dark-4: #0c0d0d;
  --gray-dark-3: #252626;
  --gray-dark-2: #3e3f40;
  --gray-dark-1: #575959;
  --gray: #7d7f80;
  --gray-light-1: #a2a5a6;
  --gray-light-2: #bbbebf;
  --gray-light-3: #d4d8d9;
  --gray-light-4: #edf1f2;
  --gray-light-5: #e3e8eb;
  --shadow-dark-4: #000000e6;
  --shadow-dark-3: #000000cc;
  --shadow-dark-2: #000000b3;
  --shadow-dark-1: #00000099;
  --shadow: #00000080;
  --shadow-light-1: #00000066;
  --shadow-light-2: #0000004d;
  --shadow-light-3: #00000033;
  --shadow-light-4: #0000001a;
  --yellow-dark-4: #4a4100;
  --yellow-dark-3: #706300;
  --yellow-dark-2: #b09b00;
  --yellow-dark-1: #cfb600;
  --yellow: #f0d200;
  --yellow-light-1: #f7e031;
  --yellow-light-2: #ffed66;
  --yellow-light-3: #fff9cc;
  --yellow-light-4: #fffdf2;
  --green-dark-4: #003615;
  --green-dark-3: #004f20;
  --green-dark-2: #008234;
  --green-dark-1: #009c3e;
  --green: #00b448;
  --green-light-1: #29cf6b;
  --green-light-2: #5de895;
  --green-light-3: #ccffe0;
  --green-light-4: #f2fff7;
  --red-dark-4: #330500;
  --red-dark-3: #420700;
  --red-dark-2: #8f0e00;
  --red-dark-1: #b51200;
  --red: #db1600;
  --red-light-1: #ed422f;
  --red-light-2: #ff7566;
  --red-light-3: #ffd1cc;
  --red-light-4: #fff4f2;
}

#view {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  text-align: center;
  flex: 1 0 auto;
  background-color: var(--gray-light-5);
}

h1 {
  text-align: center;
}

.links {
  align-items: center;
  display: flex;
  justify-content: center;
}

.links h1 {
  margin-left: 30px;
}

.links a {
  border: 1px solid var(--gray-dark-4);
  border-radius: 30px;
  color: var(--gray-dark-4);
  font-size: 16px;
  height: 30px;
  margin: 0 0 0 30px;
  padding: 7px 14px;
  text-decoration: none;
}

.links a:hover {
  background-color: var(--gray-dark-4);
  color: white;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 auto 20px;
  position: relative;
}

tr:nth-child(even) {
  background-color: var(--gray-light-4);
}

th {
  background-color: var(--yellow-light-3);
  border-top: 1px solid black;
  position: sticky;
  top: 0;
}

th, td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 10px 20px;
}

th:first-child,
td:first-child {
border-left: 1px solid black;
}

td table th,
td table td {
  border-top: transparent;
}

td table th:first-child,
td table td:first-child {
  border-left: transparent;
}

td table th:last-child,
td table td:last-child {
  border-right: transparent;
}

button.icon-button {
  align-content: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 26px;
  justify-content: center;
  margin: 0 auto;
  padding: 4px;
  width: 26px;
}

button.icon-button:hover {
  padding: 5px;
}

form {
  text-align: center;
}

form th {
  position: static;
}

form td {
  padding: 0;
}

label span.value-required-indicator {
  color: var(--red);
}

input {
  font-size: 14px;
}

input::placeholder {
  color: var(--purple-qrador);
}

.view input[type='submit'] {
  margin: 0 auto 20px;
}

td input {
  width: 100%;
}

.warning {
  background-color: var(--red-light-2);
}

select {
  text-align: center;
  font-size: 14px;
  width: 100%;
}

.reload-button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  margin-left: 30px;
  padding: 0;
}

.reload-button img {
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  height: 40px;
  padding: 4px;
  width: 40px;
}

.reload-button img:hover {
  filter: invert(1);
}

.reload-button .spin {
  animation: spin 1.5s infinite linear;
}

.loading-spinner {
  margin-left: 30px;
}

.loading-spinner .spin {
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
   100% {
      -webkit-transform: rotate(360deg);
      transform:rotate(360deg);
  }
}

.form-submit input,
.form-submit div {
  align-items: center;
  background-color: white;
  border: solid 1px var(--gray-light-2);
  border-radius: 5px;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 20px auto 0;
  width: 150px;
}

.form-submit input:hover {
  background-color: var(--gray-light-3);
}

.form-submit svg {
  stroke-dasharray: 200;
  animation: dash 2s linear infinite;
}

@keyframes dash {
  from {
      stroke-dashoffset: 0;
  }
  to {
      stroke-dashoffset: 400;
  }
}

.error-message {
  text-align: center;
  color: var(--red);
}

.confirmation-button {
  background-image: linear-gradient(var(--green-light-1), var(--green-dark-1));
  border: 1px solid var(--green-dark-4);
  border-radius: 5px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  text-shadow: 0 0 5px var(--gray-dark-1);
  transition: 0.1s;
}

.confirmation-button:active {
  box-shadow: inset 0 0 20px var(--shadow);
}

.flex-space {
  margin: auto;
}